@media only screen and (min-width: 1250px) {
    .navigation {
        padding-bottom: 8%;
    }
    #top {
        display: none;
    }
    .navigation-menu {
        display: block;
        width: 90%;
        margin-top: 6%;
        background: rgba(0,0,0,0);
    }
    .navigation-menu li {
        width: fit-content;
        border-right: var(--silver) 3px solid;
        float: left;
        margin: 0;
        padding: 0;
        padding-left: 2%;
        padding-right: 2%;
        font-size: xx-large;
    }
    /*Remove the border from the last item in the footer menu*/
    .navigation-menu li:nth-last-child(1) {
        border-right: none;
    }
    #services-menu {
        width: 200%;
        text-align: center;
    }
    #services-menu li {
        left: -20px;
        top: 15px;
        width: 300px;
        padding-bottom: 8px;
        background: var(--dark-silver);
        border-bottom: black 2px solid;
        border-right: none;
    }
    /*Interior Conditioning positioning*/
    #services-menu li:nth-last-child(2) {
        top: 61px;
    }
    /*Paint corrections positioning*/
    #services-menu li:nth-last-child(1) {
        top: 144px;
        padding-right: 6px;
    }
    /*Styling for the links within the footer*/
    .navigation-menu a {
        color: white;
    }

    .discount {
        font-size: large;
    }

    .sections {
        width: 33%;
        float: left;
    }
    #interior {
        width: 34%;
    }
    .sections h2, .sections p, .sections button, .sections img {
        margin: 0;
        padding: 0;
    }
    .sections img {
        margin-top: 5%;
    }
    .sections h2 {
        margin-top: 8%;
    }
    .sections button {
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
    }
    #detailing, #interior {
        padding-bottom: 5%;
    }
    #painting {
        padding-bottom: 6%;
    }
    #serving {
        width: 49%;
        margin-top: 36%;
    }
    #map {
        width: 49%;
    }
    #f-index {
        margin: 0;
        padding: 0;
        width: 50%;
        float: right;
        margin-top: -50%;
        padding-bottom: 16%;
    }
    #copy {
        margin-top: -20%;
        margin-left: 5%;
    }
    .social {
        margin-top: 8%;
    }
    .social img {
        margin-top: 0%;
    }

    .copyright {
        margin-top: 4%;
    }
    /* #final-lg {
        margin-top: 10%;
        width: 100%;
        padding-bottom: 20%;
    } */

}
@media only screen and (min-width: 1350px) {
    .final {
        margin-top: -47%;
    }
}